.contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #999;
  padding: 5px;
  &-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  &-name {
    p {
      margin: 0;
    }
  }
}